@import url(https://fonts.googleapis.com/css?family=Lora);

* {
  font-family: 'Lora', serif;
}

:root {
  --color-principal: #ebc200;
  --color-secundario: #563a2b;
  --color-terciario: #000000;
}

body {
  background-image: url('img/background.png');
  background-size: cover;
  margin: 0;
}

.pagina {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--color-principal);
}